<%= form_with(model: runner) do |form| %>
<% if runner.errors.any? %>
<div id="error_explanation">
    <h2>
        <%= pluralize(runner.errors.count, "error") %> prohibited this runner from being saved:</h2>
    <ul>
        <% runner.errors.each do |error| %>
        <li>
            <%= error.full_message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<div class="row">
    <div class="col">
        <%= form.text_field :runner_name, placeholder: "Numele", class: "form-control"  %>
    </div>
    <div class="col">
        <%= form.text_field :surname, placeholder: "Prenumele", class: "form-control"  %>
    </div>
    <div class="col">
        <% clubs = admin_user? ? Club.all : [current_user.club] %>
        <%= form.select :club_id,  options_for_select(clubs.map { |club| [club.club_name, club.id] }), {},{class: "form-select form-group form-control"} %>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <%= form.label :dob ,'Data Nasterii'%>
        <%= form.date_select :dob, {order: [:day, :month, :year], use_month_numbers: true, end_year: Date.today.year, start_year: 1940 } , class: "date-select" %>
    </div>
    <div class="col">
        <%= form.label :gender ,'Genul'%>
        <%= form.select :gender, ["M", "F"] , {}, class: "date-select" %>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <%= form.text_field :id, placeholder: "FOS ID", class: "form-control"  %>
    </div>
    <div class="col">
        <%= form.text_field :wre_id, placeholder: "WRE ID", class: "form-control"  %>
    </div>
</div>
<br>
<div class="row">
    <div class="col">
        <%= form.label :gender ,'Titlul Sportiv'%>
        <%= form.select :best_category_id,  options_for_select(Category.all.map { |category| [category.category_name, category.id] }, selected: 10), {},{class: "form-select form-group form-control"} %>
    </div>
    <div class="col">
        <%= form.label :gender ,'Categoria Sportiva'%>
        <%= form.select :category_id,  options_for_select(Category.all.map { |category| [category.category_name, category.id] }, selected: 10), {},{class: "form-select form-group form-control", onChange: "addCompetition()"} %>
    </div>
    <div id="competition-id">
    <%= form.fields_for :results_attributes do |result_form| %>
       <% form_html = j(render(partial: 'results_form', locals: { form: result_form })) %>
<script>
    var formHtml = '<%= form_html %>';

    function addCompetition() {
        if ($('#runner_category_id').val() == '10') {
            $('#competition-id').empty();
        } else {
            $('#competition-id').append(formHtml);
            setTimeout(function() {
            $('[id*=group_attributes_competition_id]').trigger('change');
            }, 50);
        }
    }
</script>
     <% end %>
 </div>
</div>

<div class="actions">
    <% text = @runner.id ? "Actualizează" : "Crează" %>
    <%= form.submit "#{text} Sportiv", class: "btn btn-success btn-sm"%>
    <%= link_to 'Inapoi', request.referer, class: "btn btn-secondary btn-sm" %>
</div>
<% end %>

