<% @form = form %>
<div class="row">
    <%= form.fields_for :group_attributes do |form_group| %>
    <% @form_group = form_group %>
    <div class="col">
        <%= form_group.label :competition_id ,'Competitia'%>
        <%= form_group.select :competition_id,  options_for_select(Competition.all.map { |comp| [comp.competition_name, comp.id] } + [["Competitie Noua", nil]], selected: 0), {},{class: "form-select form-group form-control"} %>
    </div>
    <div class="col" id="group-data">
    </div>
</div>
<br>
<div id="new-competition"></div>
<br>
<% end %>
<div id="result-details">

</div>
<div id="date-details">
</div>
<br>

<script>
$('form[action="/runners"]').submit(function(event) {
    event.preventDefault();
    console.log("dsa");
    var hours = parseInt($('#hours').val()) || 0;
    var minutes = parseInt($('#minutes').val()) || 0;
    var seconds = parseInt($('#seconds').val()) || 0;
    $('#runner_results_attributes_time').val(hours * 3600 + minutes * 60 + seconds);
    $(this).unbind('submit').submit();
});
$(document).ready(function() {
    $('[id*=group_attributes_competition_id]').on('change', function() {
        var id = $(this).val();
        var url = '/groups.json?comp_id=' + id;

        showHideNewCompetition();

        $.get(url, function(data) {
            var select = $('[id*=group_id]');
            select.empty();

            $.each(data, function(index, item) {
                select.append('<option value="' + item.id + '">' + item.group_name + '</option>');
            });
            select.append('<option value>' + "Grupa Noua" + '</option>');
        });
    });
});

function showHideNewCompetition() {
    var value = $('[id*="competition_id"]').val();
    var html = "";

    if (value == "") {
        html = "<%=j render partial: 'competitions/create_competition', :locals => { :form => @form_group} %>";
        addGroup("text_field");
    } else {
        addGroup("select");
    }
    console.log(value);
    toggleOptions();

    $('#new-competition').replaceWith('<div id="new-competition">' + html + '</div>');
}

function showHideNewGroup() {
    var value = $('[id*="group_id"]').val();

    if (value == "") {
        addGroup("text_field");
    }
}

function addGroup(type) {
    var html = "";

    if (type == "text_field") {
        html = '<%=j @form_group.label :group_name ,"Grupa"%><%= j @form_group.text_field :group_name, placeholder: "Grupa", class: "form-control" %>';
    } else {
        html = '<%=j form.label :group_id ,"Grupa"%><%=j form.select :group_id,[], {},{class: "form-select form-group form-control", onChange: "showHideNewGroup()"} %>';
    }

    $('#group-data').replaceWith('<div class="col" id="group-data">' + html + '</div>');
}

function toggleOptions() {
     $('#result-details').empty();
     $('#date-details').empty();

    if ($('[id*="competition_id"]').val() > 1 || $('[id*="competition_id"]').val() == '') {
        $('#result-details').append('<%= j render partial: "result_details", :locals => { :form => @form} %>');
    } else {
        $('#date-details').append('<%= j render partial: "date_details", :locals => { :form => @form} %>');
    }
  }

</script>
