<div class="row">
    <div class="col">
        <%= form.number_field :place, placeholder: "Locul", class: "form-control"  %>
    </div>
    <div class="col">
        <%= form.number_field :wre_points, placeholder: "WRE Puncte", class: "form-control"  %>
    </div>
</div>
<br>
<div class="row ">
    <div class="col" style="display:none">
        <%= form.number_field :time, placeholder: "Timpul", class: "form-control" %>
    </div>
    <div class="col">
        <%= number_field_tag :hours, nil,  placeholder: "Ore", class: "form-control" %>
    </div>
    <div class="col">
        <%= number_field_tag :minutes, nil, placeholder: "Minute", class: "form-control"  %>
    </div>
    <div class="col">
        <%= number_field_tag :seconds, nil, placeholder: "Secunde", class: "form-control"  %>
    </div>
</div>
